@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.container {
  width: 100%;
  max-width: 1280px; /* Default max width for large screens */
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px; /* Default padding */
  padding-right: 20px;
  z-index: 50;
  margin-top: 1rem;
}

/* Responsive Padding Adjustments */
@media (min-width: 640px) {
  /* sm */
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (min-width: 1024px) {
  /* lg */
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
